* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  background-image: linear-gradient(
    to bottom,
    #fff6ea,
    #f3e1cc,
    #e8cbad,
    #dcb58f,
    #d19f72
  );
}
.flying-page {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  flex-direction: column;
  z-index: 10;
}
.flying-title {
  color: #d19f72;
  font-family: "Josefin Sans", sans-serif;
  font-size: 6em;
  line-height: 1.6;
  background-color: #191919;
  overflow: hidden;
}
.flying-text {
  display: inline-block;
  transform: translateY(110%);
}
.flying-box {
  background-color: #333;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
#banner {
  margin: auto;
  transform: scale(0.8);
  transform: translateY(100%);
  opacity: 0;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.navbutton {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  z-index: 9;
  opacity: 0;
  transform: translateY(100%);
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 4px 50px;
  transition: 0.4s;
}
.sidepanel {
  height: 100vh;
  width: 20%;
  position: fixed;
  background-color: #191919;
  transform: translateX(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidepanel li {
  margin-top: 1em;
  list-style-type: none;
  font-size: 3em;
  color: #d19f72;
  overflow: hidden;
  cursor: pointer;
}
.sidepanel li::after {
  display: block;
  background-color: #d19f72;
  height: 4px;
  width: 100%;
  content: "";
  transition: 0.5s;
  transition-timing-function: ease-out;
  transform: translateX(-101%);
}
.sidepanel li:hover:after {
  transform: translateX(0);
}
#p2h2 {
  padding-top: 1em;
  font-size: 2em;
}
.element {
  transform: translateX(-200%);
  opacity: 0;
}
.swiper {
  width: 600px;
  height: 300px;
}
